In [2]:
# List

listlist = ["apple", "banana", "cherry"]
print(listlist)

['apple', 'banana', 'cherry']

In [ ]:
# Changeable 
listlist[1] = "orange"
print(listlist)

['apple', 'orange', 'cherry']

In [5]:
# data types of list

list1 = ["apple", "banana", "cherry"]
list2 = [1, 2, 3, 4, 5]
list3 = [True, False, False]
list4 = ["abc", 34 , True, 40, "male"]

print(list1)
print(list2)
print(list3)
print(list4)

['apple', 'banana', 'cherry']
[1, 2, 3, 4, 5]
[True, False, False]
['abc', 34, True, 40, 'male']